<h1>Check the gloubiboulga you want</h1>

<form action="/search" method="GET">
  <label>
    Note
    <select name="note" id="note">
      {{#each notes}}
        <option value="{{this.frequency}}">{{this.notation}}{{this.octave}}</option>
      {{/each}}
    </select>
  </label>
  <label>
  	Scale
    <select name="scale" id="scale">
      {{#each scales}}
        <option value="{{@key}}">{{@key}}</option>
      {{/each}}
    </select>    
  </label>
  
  <button type="submit">SEARCH</button>
</form>

<img src="https://media.giphy.com/media/kHs1lBhZWaK5rj7lt3/giphy.gif">

<h2>Notes</h2>
<ul>
  {{#each notes}}
  <li>
    <span class="note-index">
      {{@index}}:
    </span>
    {{#if @first}}
      **
    {{/if}}
    {{#if @last}}
      °°
    {{/if}}
    <span class="note-name">
      {{this.name}}
    </span>
    <span class="note-notation">
      ({{this.notation}})
    </span>
    {{#if this.song}}
      {{#with this.song}}
        <span>
          For instance: {{title}}
          {{#if artist}}
            by {{artist}}
          {{/if}}
        </span>
      {{/with}}
    {{else}}
      <span>
        No song yet
      </span>
    {{/if}}
  </li>
  {{else}}
  <li>No notes data ! :/</li>
  {{/each}}
</ul>

<h2>Scales</h2>
<ul>
  {{#each scales}}
    <li>
      {{@key}}: {{this}}
    </li>
  {{/each}}
</ul>

<h2>Steps</h2>
<ul>
  {{#each steps}}
    <li>
      {{this}}
    </li>
  {{/each}}
</ul>

<h2>Board</h2>
  {{#each strings}}
    <div class="guitar-string">
      <p class="guitar-string-name">{{this}}</p>
      <div class="guitar-string-board">
      {{#each ../steps}}
        <div
          style="width:{{this}}%"
          class="guitar-string-step"
        >
          <div class="guitar-string-section"></div>
        </div>
      {{/each}}
      </div>
    </div>
  {{/each}}

